body{
    font-family: 'Cinzel', serif;
    background-color: rgb(227, 227, 227);
}

a{
    color: white;
}

.grad {
    background-image: linear-gradient(rgb(44, 10, 10), rgb(21, 18, 18));
}

.btn{
    background-image: linear-gradient(rgb(44, 10, 10), rgb(21, 18, 18));
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.card-title {
    margin-bottom: 10px;
}
  
.card-text {
    flex-grow: 1;
}
  